<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' type='text/css' href='/style.css'>
	<title></title>
</head>
<body>
	
	<ul id='ul_id'>
		<li>
			1
		</li>
		<li>
			2
		</li>
		<li>
			3
		</li>
	</ul>

	<script type="text/javascript">
		
		var ul_id = document.getElementById('ul_id');

		ul_id.addEventListener('click', function(e){
			console.log(e.target.textContent);
		});

	</script>

</body>
</html>